# **套件匯入**

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import calendar
import seaborn as sns
import datetime as dt

# **理賠資料**
## 將兩張理賠表匯入

In [3]:
df1 = pd.read_excel("raw_data\\CLAIM_ACCT_FIN_1.xlsx")
df2 = pd.read_excel("raw_data\\CLAIM_ACCT_FIN_2.xlsx")

## 將兩張理賠表合併

In [4]:
df2.index = [120000+i for i in range(len(df2))]
frames = [df1,df2]
df = pd.concat(frames)

In [5]:
df

,INJURED_RK,Claim_RK,Policy_RK,BundleSubtype2,illness_code,illness_desc,DiagnosisCode_DESC,claim_settle_dt,REIMBURSED_YR_TW,INSURED_RK,POLICY_HOLDER_RK,MATURITY_BENEFICIARY_RK,DEATH_BENEFICIARY_RK
0,14,4034,72224,5.N疾病醫療,A09,感染性胃腸炎及大腸炎,01.傳染病和寄生蟲病,2017-03-10,8505.00,14,212635,NaN,NaN
1,14,62576,72224,4.C重大疾病,N19,腎衰竭,14.泌尿生殖系統疾病,2016-08-19,4200.00,14,212635,NaN,NaN
2,14,90970,72224,5.N疾病醫療,H26.9,白內障,07.眼和附器疾病,2016-12-04,29102.85,14,212635,NaN,NaN
3,14,230243,72224,1.D身故給付,V99,運輸意外事故,20.疾病和死亡的外因,2017-03-10,2131618.65,14,212635,NaN,NaN
4,24,157920,91033,5.N疾病醫療,R19.7,"腹瀉,未特定",18.症狀異常所見，不可歸類,2017-06-29,32452.35,30372,70614,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
234423,249733,30121,166605,6.N意外醫療,Y99.8,其他外因狀態,99.不知道不想猜,2015-07-09,33600.00,249733,250207,NaN,250207.0
234424,249733,86463,166605,5.N疾病醫療,D33,大腦及中樞神經系統其他部位之良性腫瘤,02.腫瘤,2016-11-02,231.00,249733,250207,NaN,250207.0
234425,249733,109718,166605,6.N意外醫療,Z04.2,來院接受對工作意外後之檢查及觀察,21.影響健康狀態與保健機構接觸的,2017-02-11,1163.40,249733,250207,NaN,250207.0
234426,249733,204841,166605,6.N意外醫療,V23,摩拖車騎士與汽車，小貨車或箱型車碰撞受傷,20.疾病和死亡的外因,2017-10-29,12478.20,249733,250207,NaN,250207.0
234427,249795,189792,97319,5.N疾病醫療,K05,齒齦炎及牙周疾病,11.消化系統疾病,2017-09-20,3307.50,249795,249795,249795.0,NaN

## 在新的理賠表中做運算，產生新的資料欄

In [7]:
df3 = df.set_index(['INSURED_RK','Policy_RK']).sort_values(['INSURED_RK','Policy_RK','claim_settle_dt'])
df3['結案後120天'] = df3['claim_settle_dt'] + pd.Timedelta(days=120)
df3['結案後180天'] = df3['claim_settle_dt'] + pd.Timedelta(days=180)
df3['結案後360天'] = df3['claim_settle_dt'] + pd.Timedelta(days=360)

## 將處理完的理賠檔存檔

In [8]:
df3.to_excel('ready_CLAIM_ACCT_FIN_1_2.xlsx')

In [213]:
# df3 = df3.loc[~df3.index.duplicated(keep='last')]
# df3 = df3.groupby(level=df3.index.names)  
# df3 = df3.last()
# df3

## 查看某位要保人的理賠資訊

# **再購資料**

In [12]:
df4 = pd.read_excel("raw_data\\COV_ACCT_FIN.xlsx")

In [13]:
df4.sort_values(['INSURED_RK','Policy_RK','EFFECTIVE_DT'])

,INSURED_RK,Policy_RK,RIDER_CD,payment_period,EFFECTIVE_DT,SHORT_NAME,prod_detail2,POLICY_HOLDER_RK,AFYP_NT,MATURITY_BENEFICIARY_RK,DEATH_BENEFICIARY_RK
0,20,182361,1,年繳,2018-11-30,CAB,AHb,198568,3.864000e+03,NaN,198568.0
1,20,182362,0,年繳,2018-11-30,NPBBR,AHc,198568,3.045000e+03,198568.0,198568.0
2,20,182362,0,年繳,2018-11-30,PAR,AHc,198568,4.725000e+02,198568.0,198568.0
3,20,182362,0,年繳,2018-11-30,AMN,AHc,198568,8.505000e+02,198568.0,198568.0
4,20,182362,0,年繳,2018-11-30,NHSA,AHa,198568,3.675000e+03,198568.0,198568.0
...,...,...,...,...,...,...,...,...,...,...,...
134466,251944,172738,1,躉繳保費,2017-08-27,UPISA,SIN,251944,1.067771e+06,NaN,NaN
134467,251944,172739,1,躉繳保費,2017-09-01,UPISA,SIN,251944,1.067771e+06,NaN,NaN
134470,251944,172892,1,躉繳保費,2018-04-28,UPISA,SIN,251944,1.100128e+06,NaN,NaN
134468,251944,177608,1,躉繳保費,2018-02-01,BUISA,SIN,251944,9.829964e+05,NaN,NaN
134471,251945,177625,1,躉繳保費,2018-08-31,BVA,ILP,251945,3.150000e+05,NaN,120128.0

# **客戶關係資料**

In [15]:
df5 = pd.read_excel("raw_data\\CUST_RELATION_FIN.xlsx")

In [16]:
df5

        INJURED_RK  householder_RK  Relation_RK            Relation
0              238             238       135763  {祖孫、兄弟姊妹}以外的二等以上親屬
1              239           16646        16646                  配偶
2              242             242        23899               父母/子女
3              244             244        23915  {祖孫、兄弟姊妹}以外的二等以上親屬
4              245             245         6084  {祖孫、兄弟姊妹}以外的二等以上親屬
...            ...             ...          ...                 ...
176153      251951          251951       134869               父母/子女
176154      251951          251951       251950               父母/子女
176155      251954          251954        77682               父母/子女
176156      251954          251954       133794  {祖孫、兄弟姊妹}以外的二等以上親屬
176157      251954          251954       156320                  配偶

[176158 rows x 4 columns]

In [55]:
insured_rk = pd.unique(df3.index.get_level_values(0))
rk_dict = {}
for i in range(len(insured_rk)):
    test=np.append(pd.unique(df5.query('INJURED_RK==@insured_rk[{}]'.format(i)).Relation_RK),insured_rk[i])
    rk_dict.update({insured_rk[i]:test})
    if i%10000==0:
        print('第{:^6}筆'.format(i))

第  0   筆
第10000 筆
第20000 筆
第30000 筆
第40000 筆
第50000 筆
第60000 筆
第70000 筆
第80000 筆
第90000 筆
第100000筆

In [56]:
import pickle
# pickle a variable to a file
file = open('rk_dict.pickle', 'wb')
pickle.dump(rk_dict, file)
file.close()

In [78]:
df4

,INSURED_RK,Policy_RK,RIDER_CD,payment_period,EFFECTIVE_DT,SHORT_NAME,prod_detail2,POLICY_HOLDER_RK,AFYP_NT,MATURITY_BENEFICIARY_RK,DEATH_BENEFICIARY_RK
0,20,182361,1,年繳,2018-11-30,CAB,AHb,198568,3.864000e+03,NaN,198568.0
1,20,182362,0,年繳,2018-11-30,NPBBR,AHc,198568,3.045000e+03,198568.0,198568.0
2,20,182362,0,年繳,2018-11-30,PAR,AHc,198568,4.725000e+02,198568.0,198568.0
3,20,182362,0,年繳,2018-11-30,AMN,AHc,198568,8.505000e+02,198568.0,198568.0
4,20,182362,0,年繳,2018-11-30,NHSA,AHa,198568,3.675000e+03,198568.0,198568.0
...,...,...,...,...,...,...,...,...,...,...,...
134467,251944,172739,1,躉繳保費,2017-09-01,UPISA,SIN,251944,1.067771e+06,NaN,NaN
134468,251944,177608,1,躉繳保費,2018-02-01,BUISA,SIN,251944,9.829964e+05,NaN,NaN
134469,251944,58859,1,年繳,2018-04-14,RLTC,AHd,79529,1.081773e+05,79529.0,NaN
134470,251944,172892,1,躉繳保費,2018-04-28,UPISA,SIN,251944,1.100128e+06,NaN,NaN
134471,251945,177625,1,躉繳保費,2018-08-31,BVA,ILP,251945,3.150000e+05,NaN,120128.0

# **理賠再購合併**

## 被(與被有關係的人)vs被 合併

In [103]:
df3['再購(120天)'] = 0 
for index, item in enumerate(df3.index.get_level_values(0)):
    time_list = df4.query('INSURED_RK in @rk_dict[{}]'.format(item))['EFFECTIVE_DT'].unique()
    for time in time_list:
        if (df3.iloc[index,6] < time) and (time < df3.iloc[index,11]):
            df3.iloc[index,14] = 1
            break
    if index % 10000 == 0:
        print("第{}筆資料已標記!!".format(index))

第0筆資料已標記!!
第10000筆資料已標記!!
第20000筆資料已標記!!
第30000筆資料已標記!!
第40000筆資料已標記!!
第50000筆資料已標記!!
第60000筆資料已標記!!
第70000筆資料已標記!!
第80000筆資料已標記!!
第90000筆資料已標記!!
第100000筆資料已標記!!
第110000筆資料已標記!!
第120000筆資料已標記!!
第130000筆資料已標記!!
第140000筆資料已標記!!
第150000筆資料已標記!!
第160000筆資料已標記!!
第170000筆資料已標記!!
第180000筆資料已標記!!
第190000筆資料已標記!!
第200000筆資料已標記!!
第210000筆資料已標記!!
第220000筆資料已標記!!
第230000筆資料已標記!!

In [108]:
df3['再購(180天)'] = 0 
for index, item in enumerate(df3.index.get_level_values(0)):
    time_list = df4.query('INSURED_RK in @rk_dict[{}]'.format(item))['EFFECTIVE_DT'].unique()
    for time in time_list:
        if (df3.iloc[index,6] < time) and (time < df3.iloc[index,12]):
            df3.iloc[index,15] = 1
            break
    if index % 10000 == 0:
        print("第{}筆資料已標記!!".format(index))

第0筆資料已標記!!
第10000筆資料已標記!!
第20000筆資料已標記!!
第30000筆資料已標記!!
第40000筆資料已標記!!
第50000筆資料已標記!!
第60000筆資料已標記!!
第70000筆資料已標記!!
第80000筆資料已標記!!
第90000筆資料已標記!!
第100000筆資料已標記!!
第110000筆資料已標記!!
第120000筆資料已標記!!
第130000筆資料已標記!!
第140000筆資料已標記!!
第150000筆資料已標記!!
第160000筆資料已標記!!
第170000筆資料已標記!!
第180000筆資料已標記!!
第190000筆資料已標記!!
第200000筆資料已標記!!
第210000筆資料已標記!!
第220000筆資料已標記!!
第230000筆資料已標記!!

In [115]:
df3['再購(360天)'] = 0 
for index, item in enumerate(df3.index.get_level_values(0)):
    time_list = df4.query('INSURED_RK in @rk_dict[{}]'.format(item))['EFFECTIVE_DT'].unique()
    for time in time_list:
        if (df3.iloc[index,6] < time) and (time < df3.iloc[index,13]):
            df3.iloc[index,16] = 1
            break
    if index % 10000 == 0:
        print("第{}筆資料已標記!!".format(index))

第0筆資料已標記!!
第10000筆資料已標記!!
第20000筆資料已標記!!
第30000筆資料已標記!!
第40000筆資料已標記!!
第50000筆資料已標記!!
第60000筆資料已標記!!
第70000筆資料已標記!!
第80000筆資料已標記!!
第90000筆資料已標記!!
第100000筆資料已標記!!
第110000筆資料已標記!!
第120000筆資料已標記!!
第130000筆資料已標記!!
第140000筆資料已標記!!
第150000筆資料已標記!!
第160000筆資料已標記!!
第170000筆資料已標記!!
第180000筆資料已標記!!
第190000筆資料已標記!!
第200000筆資料已標記!!
第210000筆資料已標記!!
第220000筆資料已標記!!
第230000筆資料已標記!!

## 理賠再購合併檔案輸出

In [116]:
df3.to_excel('理賠再購合併1_2_3.xlsx')

In [132]:
df3['再購(120天)'].sum()/df3['再購(360天)'].sum()

0.4414694186707063

# **理賠再購檔.客戶屬性檔合併**

In [118]:
df6 = pd.read_excel('raw_data\\CUST_PROPERTY_FIN_1.xlsx')
df7 = pd.read_excel('raw_data\\CUST_PROPERTY_FIN_2.xlsx')

In [123]:
df6

,CUST_RK,ternure_m,recency_m,SIN,SIN_his,REG,REG_his,ILP,ILP_his,AHa,...,WEALTH_LEVEL,CLIENT_MARITAL,CLIENT_INCOME,DIGI_FLG,TOPCARD,GENDER,stick_level2,cust_group2,TOTAL_AUM,INSURED_DOB
0,24,201,201,0,0,1,1,0,0,0,...,W7,NaN,0,0,0,1,S10,G4,396720.0,1984-04-04
1,152,175,175,0,0,1,1,0,0,1,...,W6,NaN,0,0,0,1,S10,G4,165870.0,1951-02-26
2,155,227,227,0,0,1,1,0,0,1,...,W7,NaN,0,0,0,1,S10,G4,NaN,1976-07-19
3,158,165,165,0,0,0,0,0,0,1,...,W7,NaN,0,0,0,1,S10,G4,68362.0,1978-12-09
4,204,181,181,0,0,1,1,0,0,1,...,W7,NaN,0,0,0,1,S10,G4,68400.0,1976-09-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64995,129597,253,13,0,0,1,1,0,1,1,...,W4,M,950000,0,0,1,S04,G1,525654.0,1961-04-21
64996,129599,318,15,0,0,1,1,0,0,1,...,W6,M,342000,0,0,1,S04,G2,312740.0,1958-10-01
64997,129600,279,278,0,0,1,1,0,0,1,...,W6,NaN,0,0,0,1,S10,G4,798000.0,1964-07-15
64998,129601,237,6,0,1,1,1,0,1,1,...,W3,S,1330000,0,0,1,S02,G1,1322818.0,1969-05-09
64999,129602,265,65,1,1,1,1,0,0,1,...,W4,M,950000,0,0,1,S07,G3,1246400.0,1962-09-25

In [124]:
df7.index = [65000+i for i in range(len(df7))]
frames = [df6,df7]
df8 = pd.concat(frames)

In [125]:
df8

,CUST_RK,ternure_m,recency_m,SIN,SIN_his,REG,REG_his,ILP,ILP_his,AHa,...,WEALTH_LEVEL,CLIENT_MARITAL,CLIENT_INCOME,DIGI_FLG,TOPCARD,GENDER,stick_level2,cust_group2,TOTAL_AUM,INSURED_DOB
0,24,201,201,0,0,1,1,0,0,0,...,W7,NaN,0,0,0,1,S10,G4,396720.0,1984-04-04
1,152,175,175,0,0,1,1,0,0,1,...,W6,NaN,0,0,0,1,S10,G4,165870.0,1951-02-26
2,155,227,227,0,0,1,1,0,0,1,...,W7,NaN,0,0,0,1,S10,G4,NaN,1976-07-19
3,158,165,165,0,0,0,0,0,0,1,...,W7,NaN,0,0,0,1,S10,G4,68362.0,1978-12-09
4,204,181,181,0,0,1,1,0,0,1,...,W7,NaN,0,0,0,1,S10,G4,68400.0,1976-09-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130482,251944,271,4,1,1,1,1,0,0,1,...,W2,M,1900000,0,1,1,S04,G0,2885720.0,1966-10-06
130483,251945,255,54,0,0,1,1,0,0,1,...,W5,M,247000,0,0,1,S07,G4,300840.3,1966-01-09
130484,251947,135,102,0,0,1,1,0,0,1,...,W7,NaN,0,0,0,1,S09,G4,123291.0,1979-05-16
130485,251951,125,34,0,0,1,1,0,0,1,...,W5,M,665000,0,0,1,S07,G4,224832.7,1972-06-22
130486,251954,297,68,0,0,1,1,0,0,1,...,W6,M,760000,0,0,1,S07,G4,126247.4,1960-09-28

In [133]:
df9 = df3.merge(right=df8, how='left', left_on='INSURED_RK',right_on='CUST_RK')

In [134]:
df9.index= df3.index

In [135]:
df9

                      INJURED_RK  Claim_RK BundleSubtype2 illness_code  \
INSURED_RK Policy_RK
14         72224              14     62576        4.C重大疾病          N19
           72224              14     90970        5.N疾病醫療        H26.9
           72224              14      4034        5.N疾病醫療          A09
           72224              14    230243        1.D身故給付          V99
152        131337            129    104154        4.C重大疾病          I63
...                          ...       ...            ...          ...
251796     74433           82163    189132        6.N意外醫療          V23
251813     78696           26496    117881        6.N意外醫療          V23
251876     57631          105960     80566        6.N意外醫療        Y93.7
251904     105696         225469    189078        5.N疾病醫療          D09
251954     74765          156320    136040        4.C重大疾病        I25.1

                              illness_desc DiagnosisCode_DESC claim_settle_dt  \
INSURED_RK Policy_RK
14         72224                       腎衰竭        14.泌尿生殖系統疾病      2016-08-19
           72224                       白內障          07.眼和附器疾病      2016-12-04
           72224                感染性胃腸炎及大腸炎        01.傳染病和寄生蟲病      2017-03-10
           72224                    運輸意外事故        20.疾病和死亡的外因      2017-03-10
152        131337                      腦梗塞          09.循環系統疾病      2017-01-20
...                                    ...                ...             ...
251796     74433      摩拖車騎士與汽車，小貨車或箱型車碰撞受傷        20.疾病和死亡的外因      2017-09-16
251813     78696      摩拖車騎士與汽車，小貨車或箱型車碰撞受傷        20.疾病和死亡的外因      2017-03-10
251876     57631            涉及其他特定運動和競技之活動        20.疾病和死亡的外因      2016-09-18
251904     105696             其他及未明示部位之原位癌              02.腫瘤      2017-09-16
251954     74765            自體的冠狀動脈粥樣硬化心臟病          09.循環系統疾病      2017-04-29

                      REIMBURSED_YR_TW  POLICY_HOLDER_RK  \
INSURED_RK Policy_RK
14         72224               4200.00            212635
           72224              29102.85            212635
           72224               8505.00            212635
           72224            2131618.65            212635
152        131337             23100.00            139616
...                                ...               ...
251796     74433               4389.00            251796
251813     78696              31133.55            251813
251876     57631               1470.00            251876
251904     105696             17002.65            251904
251954     74765              16825.20            251954

                      MATURITY_BENEFICIARY_RK  ...  WEALTH_LEVEL  \
INSURED_RK Policy_RK                           ...
14         72224                          NaN  ...           NaN
           72224                          NaN  ...           NaN
           72224                          NaN  ...           NaN
           72224                          NaN  ...           NaN
152        131337                         NaN  ...            W6
...                                       ...  ...           ...
251796     74433                          NaN  ...            W6
251813     78696                          NaN  ...            W6
251876     57631                     251876.0  ...            W5
251904     105696                         NaN  ...            W6
251954     74765                          NaN  ...            W6

                     CLIENT_MARITAL CLIENT_INCOME DIGI_FLG  TOPCARD  GENDER  \
INSURED_RK Policy_RK
14         72224                NaN           NaN      NaN      NaN     NaN
           72224                NaN           NaN      NaN      NaN     NaN
           72224                NaN           NaN      NaN      NaN     NaN
           72224                NaN           NaN      NaN      NaN     NaN
152        131337               NaN           0.0      0.0      0.0     1.0
...                             ...           ...      ...      ...     ...
251796     74433                NaN           0.0      1.0      0.0     1.0
251813     78696                NaN           0.0      0.0      0.0     1.0
251876     57631                  M      617500.0      0.0      0.0     1.0
251904     105696                 M     1425000.0      0.0      0.0     0.0
251954     74765                  M      760000.0      0.0      0.0     1.0

                      stick_level2  cust_group2  TOTAL_AUM  INSURED_DOB
INSURED_RK Policy_RK
14         72224               NaN          NaN        NaN          NaT
           72224               NaN          NaN        NaN          NaT
           72224               NaN          NaN        NaN          NaT
           72224               NaN          NaN        NaN          NaT
152        131337              S10           G4   165870.0   1951-02-26
...                            ...          ...        ...          ...
251796     74433               S09           G4   334495.0   1966-11-27
251813     78696               S09           G4    90250.0   1966-03-07
251876     57631               S03           G2  1079992.3   1975-02-26
251904     105696              S10           G4   178600.0   1964-04-21
251954     74765               S07           G4   126247.4   1960-09-28

[234428 rows x 46 columns]

In [136]:
df9.to_excel('理賠再購屬性合併1_2.xlsx')